<%- include('partials/header'); -%>

<div class="main-container">
    <div class="color-container">
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
    </div> 
</div>

<%- include('partials/footer'); -%>